# Dependencies
node_modules

# Next.js build output
.next
out
build

# Coverage / misc
coverage
*.tsbuildinfo
next-env.d.ts

# Lockfiles & generated
package-lock.json
pnpm-lock.yaml
yarn.lock

# Static assets
public
